/doc/
/lib/
/bin/
/.shards/
#/spec/test_data/*.csv
/spec/*.csv
*.nn
/spec/*.nn
# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock
cuda-keyring_*.deb
# Build output of CUDA kernels
libshainet_cuda_kernels.so
# specs output
*.jsonl